<form [formGroup]="registrationForm" >
  <div>
    <label for="name">Name:</label>
    <input id="name" formControlName="name" type="text">
  </div>
  
  <div>
    <label for="surname">Surname:</label>
    <input id="surname" formControlName="surname" type="text">
  </div>

  <div>
    <label>Gender:</label>
    <label><input formControlName="gender" type="radio" value="male"> Male</label>
    <label><input formControlName="gender" type="radio" value="female"> Female</label>
  </div>

  <div>
    <label for="dob">DOB:</label>
    <input id="dob" formControlName="dob" type="date">
  </div>
  <div>
    <label for="city">City:</label>
    <input id="city" formControlName="city" type="text">
  </div>
  <div>
    <label for="mobileNo">Mobile No.:</label>
    <input id="mobileNo" formControlName="mobileNo" type="text">
  </div>
  <div>
    <label for="email">Email ID:</label>
    <input id="email" formControlName="email" type="email">
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password">
  </div>
  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input id="confirmPassword" formControlName="confirmPassword" type="password">
  </div>
</form>

